*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
    background-color: hsl(216, 100%, 98%);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 2.25rem;
}

p {
    font-size: 1.125rem;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

.wrapper {
    width: min(100% - 3rem, 75rem);
    margin-inline: auto;
}

.topnav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.topnav__logo {
    height: auto;
    width: 70px;
}

.topnav__logo:hover {
    opacity: 90%;
    transition: 0.2s ease-in-out;
}

.topnav__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
}

.topnav__item {
    list-style-type: none;
}

.topnav__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: hsl(0, 90%, 41%);
}

.topnav__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    text-underline-offset: 3px;
    animation: forwards 0.4s;
    color: hsl(0, 100%, 67%);
    transition: 0.2s ease-in-out;
}

.hero__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__text {
    animation-name: tekst;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
}

@keyframes tekst {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.hero__title {
    text-transform: uppercase;
    padding-block-end: 20px;
    color: hsl(0, 100%, 2%);
}

.hero__content {
    color: hsl(0, 0%, 21%);
}

.hero__button {
    background-color: hsl(0, 90%, 41%);
    border: 2px solid hsl(0, 90%, 41%);
    color: hsl(0, 0%, 100%);
    padding: 10px 28px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1.2em;
    margin-block-start: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero__button:hover {
    background-color: transparent;
    color: hsl(0, 90%, 41%);
    transition: 0.2s ease-in-out;
}

.hero__image {
    width: 70%;
    max-width: 600px;

    animation-name: slika;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

@keyframes slika {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.ponuda {
    background-color: hsl(0, 90%, 41%);
}

.ponuda__wrapper {
    padding-block: 100px;
    display: flex;
    gap: 30px;
}

.ponuda__text {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    color: hsl(0, 90%, 41%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ponuda__title {
    text-align: center;
    text-transform: uppercase;
    margin-block-end: 10px;
}

.ponuda__content {
    text-align: justify;
}

.ponuda__link {
    background-color: transparent;
    border: 2px solid hsl(0, 90%, 41%);
    color: hsl(0, 90%, 41%);
    padding: 10px 28px;
    border-radius: 25px;
    display: inline-block;
    font-size: 1.2em;
    margin-block-start: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.ponuda__link:hover {
    background-color: hsl(0, 90%, 41%);
    color: white;
    transition: 0.2s ease-in-out;
}

.footer__wrapper {
    margin-block: 200px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__image {
    width: 200px;
}

.footer__image:hover {
    opacity: 90%;
    transition: 0.2s ease-in-out;
}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.footer__items {
    list-style-type: none;
}

.footer__link {
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(0, 90%, 41%);
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.8px;
    text-underline-offset: 3px;
    animation: forwards 0.4s;
    color: hsl(0, 100%, 67%);
    transition: 0.2s ease-in-out;
}

.footer__social i {
    font-size: 30px;
    margin-inline-end: 30px;
    color: hsl(229, 85%, 26%);
}

.footer__social i:hover {
    font-size: 30px;
    margin-inline-end: 30px;
    color: hsl(229, 74%, 39%);
    transition: 0.2s ease-in-out;
}

#main-kontakt {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__box {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50vw;
    height: 70vh;
}

.form__elements {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.form__input input,
textarea {
    width: 300px;
    padding-inline: 10px;
    border: 2px solid hsl(0, 0%, 13%);
    border-radius: 10px;
}

.form__submit {
    background-color: hsl(0, 90%, 41%);
    border: 2px solid hsl(0, 90%, 41%);
    color: hsl(0, 0%, 100%);
    padding: 10px 28px;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
}

.form__map {
    width: 50%;
}

.form__map iframe {
    width: 100%;
    height: 100%;
}

.info__title {
    color: hsl(0, 90%, 41%);
    margin-block: 50px 30px;
    text-align: center;
}

.info__content {
    margin-top: 5px;
    color: darkslategray;
    text-align: justify;
}

hr {
    margin: 0 auto 40px auto;
    display: block;
    width: 60%;
}

.wave {
    width: 100%;
    max-height: 105px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .topnav__logo {
        width: 50px;
    }

    .topnav__list {
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    .topnav__link {
        font-size: 1rem;
    }

    .hero__wrapper {
        margin-block: 50px 100px;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__image {
        width: 100%;
    }

    .hero__content {
        font-size: 1rem;
    }

    .hero__button {
        font-size: 1rem;
    }

    .ponuda__wrapper {
        flex-direction: column;
    }

    .ponuda__title {
        font-size: 1.6rem;
    }

    .ponuda__content {
        font-size: 1em;
    }

    .ponuda__link {
        font-size: 1rem;
    }

    #main-kontakt {
        height: 70vh;
    }

    .form__box {
        flex-direction: column;
        width: 80vw;
        height: auto;
        padding-block: 35px;
    }

    .form__elements {
        width: 100%;
        height: 50%;
    }

    .form__map {
        display: none;
    }

    .form__input input,
    textarea {
        width: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .topnav__wrapper {
        padding-block: 10px;
        gap: 10px;
    }

    .topnav__logo {
        width: 50px;
    }

    .topnav__list {
        gap: 7px;
        align-items: center;
        text-align: center;
        line-height: 1em;
        justify-content: flex-end;
    }

    .topnav__item {
        flex: 0 1 65px;
    }

    .topnav__link {
        font-size: 0.9rem;
    }

    .hero__wrapper {
        margin-block: 50px 60px;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__content {
        font-size: 1rem;
    }

    .hero__button {
        font-size: 1rem;
    }

    .hero__image {
        display: none;
    }

    .ponuda__wrapper {
        flex-direction: column;
    }

    .ponuda__title {
        font-size: 1.6rem;
    }

    .ponuda__content {
        font-size: 1em;
    }

    .ponuda__link {
        font-size: 1rem;
    }

    .footer__wrapper {
        flex-direction: column;
        margin-block: 100px 50px;
        gap: 30px;
    }

    .footer__list {
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .footer__items {
        flex: 0 1 65px;
    }

    #main-kontakt {
        height: 70vh;
    }

    .form__box {
        flex-direction: column;
        width: 80vw;
        height: auto;
        padding-block: 35px;
    }

    .form__elements {
        width: 100%;
        height: 50%;
    }

    .form__map {
        display: none;
    }

    .form__input input,
    textarea {
        width: auto;
    }
}
